# Prepare the data
https://code.visualstudio.com/docs/datascience/data-science-tutorial#_prepare-the-data

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('titanic3.csv')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

fig, axs = plt.subplots(ncols=5, figsize=(30,5))
sns.violinplot(x="survived", y="age", hue="sex", data=data, ax=axs[0])
sns.pointplot(x="sibsp", y="survived", hue="sex", data=data, ax=axs[1])
sns.pointplot(x="parch", y="survived", hue="sex", data=data, ax=axs[2])
sns.pointplot(x="pclass", y="survived", hue="sex", data=data, ax=axs[3])
sns.violinplot(x="survived", y="fare", hue="sex", data=data, ax=axs[4])

In [ ]:
data.replace({'male': 1, 'female': 0}, inplace=True)

In [9]:
data.corr(numeric_only=True).abs()[["survived"]]

          survived
pclass    0.312469
survived  1.000000
sex       0.528693
age       0.055512
sibsp     0.027825
parch     0.082660
fare      0.244265
body           NaN

In [10]:
data['relatives'] = data.apply (lambda row: int((row['sibsp'] + row['parch']) > 0), axis=1)
data.corr(numeric_only=True).abs()[["survived"]]

           survived
pclass     0.312469
survived   1.000000
sex        0.528693
age        0.055512
sibsp      0.027825
parch      0.082660
fare       0.244265
body            NaN
relatives  0.201719

In [11]:
data = data[['sex', 'pclass','age','relatives','fare','survived']].dropna()

In [14]:
data.to_csv("titanic3_processed.csv", index=False)